<div class="container h-screen w-full bg-gray-100">
    <div class="hdr bg-primary-color text-white  w-full px-3 flex items-center justify-between">
        <div class="font-medium text-xl py-4">Console</div>
        <div class="rounded-full bg-cyan-700 w-7 h-7 flex justify-center items-center text-white px-1.5 font-semibold py-1.5 text-base ring-cyan-600 ring-1 ">S</div>
    </div>
    <div class="header px-3 py-2 flex justify-between text-sm border-b-2">
        <div class="font-medium">Modules <span class="font-semibold  text-gray-500">/</span> Alcohol Module <span class="font-semibold  text-gray-500">/</span> Container <span class="font-semibold  text-gray-500">/</span> <span class="font-semibold"> Container Material Code</span></div>
        <div class="font-semibold relative" #layoutModal>
            <button  (click)="layoutDropdown=!layoutDropdown"  class="text-gray-700 rounded-lg border px-2 py-1 w-fit flex gap-2 items-center bg-white" type="button">View <svg class="w-2 h-2.5 pt-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
                </button>
                
                <!-- Dropdown menu -->
                <div  *ngIf="layoutDropdown" class="z-10 absolute top-8 right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                    <ul class=" text-sm text-gray-700 px-1 py-1 " aria-labelledby="dropdownDelayButton">
                      <li *ngFor="let item of layouts"  (click)="selectLayout(item?.id)" [ngClass]="item?.selected ? 'bg-gray-100' : ''" class="block px-3 py-1 rounded-md hover:bg-gray-100 my-0.5" >
                        <a  >  {{item?.name}}</a>
                      </li>
                     
                    </ul>
                </div>
        </div>
    </div>
    <div class="w-full flex h-screen-custom bg-white">
        <div class="w-1/4 min-w-32 border-gray-300  border-r-2 px-3 bg-white sidebar relative" [style.width.px]="sidebarWidth" [enableGhostResize]="true" mwlResizable  (resizing)="onResize($event)"   >
            <div
            class="resize-handle-right hover:border-r-4 hover:border-l-2 hover:border-slate-200 border-slate-300 border-r-4 border-l-2  -mr-1 "
            mwlResizeHandle
            [resizeEdges]="{ right: true }"
          ></div>
            hii
        </div>
        <div class="  px-3 resize-x bg-white overflow-hidden" [ngSwitch]="layoutView.view"  style="flex:1">
            <app-list-view [items]="items" *ngSwitchCase="'list'"></app-list-view>
            <app-card-view [items]="items" *ngSwitchCase="'card'"></app-card-view>
            <app-detail-view [items]="items" *ngSwitchCase="'detail'"></app-detail-view>
            <h4 class="font-bold px-3 py-3">Details</h4>
            <p class="text-sm pt-4 font-semibold px-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis optio architecto quod ipsam doloremque unde, temporibus excepturi tempore dolor labore repudiandae, laborum minus id ullam tempora nihil nisi facere quis odit qui officia deserunt maiores cum eos. In, nobis totam?</p>
        </div>
    </div>
</div>

